<table>
    <tr>
        <td>id</td>
        <td>nom</td>
        <td>prenom</td>
        <td>nationalite</td>
    </tr>
    <tr *ngFor="let auteur of auteurs$ | async; trackBy: trackAuteur">
        <td>{{ auteur.id }}</td>
        <td>{{ auteur.nom }}</td>
        <td>{{ auteur.prenom }}</td>
        <td>{{ auteur.nationalite }}</td>
        <td>
            <button type="button" (click)="modify(auteur)">Modifier</button>
            <button type="button" (click)="deleteAuteur(auteur)">Supprimer</button>
        </td>
    </tr>
</table>

<br>
<h2>Ajout d'un auteur</h2>

<form (ngSubmit)="createOrModifyAuteur()" [formGroup] = "auteurForm">
    <div>
        <label for="nom">Nom</label>
        <input id="nom" type="text" formControlName="nom"/>
        @if (nomCtrl.hasError('required') && nomCtrl.touched) {
            <span>Le nom est obligatoire</span>
        }
    </div>
    <div>
        <label for="prenom">Prénom</label>
        <input id="prenom" type="text" formControlName="prenom"/>
        @if (prenomCtrl.hasError('required') && prenomCtrl.touched) {
            <span>Le prénom est obligatoire</span>
        }
    </div>
    <div>
        <label for="nationalite">Nationalite</label>
        <input id="nationalite" type="text" formControlName="nationalite"/>
        @if (nationaliteCtrl.hasError('required') && nationaliteCtrl.touched) {
            <span>La nationalité est obligatoire</span>
        }
    </div>
    @if (editingAuteur) {
        <input type="submit" [disabled]="auteurForm.invalid" value="Modifier" />
    } @else {
        <input type="submit" [disabled]="auteurForm.invalid" value="Créer" />
    }

</form>